                  <tr{{ rowClass }}>
                    <td><input type="checkbox"></td>
                    <td><i class="icon-remove"></i></td>
                    <td>{{ senderText }}</td>
                    <td>{{ toText }}</td>
                    <td>{{ title }}</td>
                    <td>{{ sent_date }}</td>
                  </tr>
