                  <tr{{ rowClass }}>
                    <td><input type="checkbox"></td>
                    <td>{{ senderText }}</td>
                    <td>{{ toText }}</td>
                    <td><a class="mail-link" href="#{{ message_id }}">{{ title }}</a></td>
                    <td>{{ sent_date }}</td>
                  </tr>
