                  <tr{{ rowClass }}>
                    <td class="mail-checkbox"><input type="checkbox"></td>
                    <td class="mail-from">{{ senderText }}</td>
                    <td class="mail-to">{{ toText }}</td>
                    <td><a class="mail-link" href="#{{ message_id }}">{{ title }}</a></td>
                    <td class="mail-date">{{ sent_date }}</td>
                  </tr>
